
#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form label {
    width: 250px; 
    margin-bottom: 5px; 
}

#form input[type="number"] {
    margin-bottom: 10px; 
    width: 200px; 
}

button {
    margin-top: 10px; 
}
