.fun-fact-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: orange;
  padding: 20px;
}

.fun-fact-text {
  font-size: 18px;
  color: #666;
  text-align: justify;
  padding: 10px;
}

.title {
  color: #84594a;
  font-weight: bold;
}

#main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  padding: 20px;
}

#main > div {
  padding: 20px;
  border: 1px solid #84594a;
  border-radius: 0px;
  background-color: #fffdf8;
  box-sizing: border-box;
}

#ff1 {grid-column: 1 / span 2; grid-row: 1;}
#ff2 {grid-column: 3; grid-row: 1 / span 2;}
#ff5 {grid-column: 2; grid-row: 2 / span 2;}
#ff8 {grid-column: 3 / span 2; grid-row: 3;}
#ff3 {grid-column: 4; grid-row: 1;} 
#ff4 {grid-column: 1; grid-row: 2;} 
#ff6 {grid-column: 4; grid-row: 3;} 
#ff7 {grid-column: 1; grid-row: 3;}